body{

  margin:0;
  min-height:100vh;

  background-image:
    linear-gradient(
      rgba(75,29,107,0.7),
      rgba(43,13,58,0.9)
    ),
    url("../asset/background.png");

  background-size:
    cover,
    contain;

  background-repeat:
    no-repeat,
    no-repeat;

  background-position:
    center,
    center bottom;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  font-family:Georgia;

}

.camera-container{

  display:flex;
  gap:50px;

  justify-content:center;
  align-items:center;

}

.camera-preview{

  width:550px;
  height:400px;

  position:relative;

  background:white;

  border-radius:25px;

  border:6px solid #f3d36b;

  box-shadow:
    0 0 28px rgba(255,215,0,0.5);

  overflow:hidden;

}

#camera{

  width:100%;
  height:100%;

  object-fit:cover;

  border-radius:18px;

  transform:scaleX(-1);

}

#countdown{

  position:absolute;

  top:50%;
  left:50%;

  transform:
    translate(-50%,-50%);

  z-index:10;

  font-size:100px;

  font-weight:bold;

  color:white;

  text-shadow:
    0 0 15px gold,
    0 0 35px gold;

}

/* ========================= */
/* PHOTOSTRIP TANGLED */
/* ========================= */

.strip-container{

  position:relative;

  width:280px;
  height:400px;

}

.frame-overlay{

  position:absolute;

  width:100%;
  height:100%;

  top:0;
  left:0;

  z-index:3;

  pointer-events:none;

}

/* FOTO ATAS */

.strip-photo1{

  position:absolute;

  top:22px;
  left:18px;

  width:240px;
  height:170px;

  object-fit:cover;

  z-index:1;

}

/* FOTO BAWAH */

.strip-photo2{

  position:absolute;

  top:222px;
  left:18px;

  width:240px;
  height:170px;

  object-fit:cover;

  z-index:1;

}

/* ========================= */
/* BUTTON */
/* ========================= */

.button-container{

  margin-top:30px;

  display:flex;
  gap:20px;

}

.capture-btn,
.retake-btn,
.download-btn{

  padding:15px 35px;

  border:none;

  border-radius:20px;

  background:#f3d36b;

  color:#4b1d6b;

  font-size:18px;

  font-weight:bold;

  cursor:pointer;

  transition:.3s;

}

.capture-btn:hover,
.retake-btn:hover,
.download-btn:hover{

  transform:scale(1.05);

  box-shadow:
    0 0 15px gold,
    0 0 30px gold;

}
.single-frame{

  width:450px;
  height:320px;

}
.single-frame .strip-photo1{

  top:15px;
  left:2px;

  width:410px;
  height:280px;

}
.single-frame .strip-photo2{

  display:none;

}
